@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body .fc {
  font-family: "Raleway"
}

body .fc-event-container {
  font-family: "Helvetica"
}

body .fc-event {
  margin: 2px;
  padding: 5px;
}

body .fc-day-grid-event .fc-content {
  white-space: pre-wrap
}

